@model IEnumerable<dvdApp.Models.Dvd>

@{
    ViewData["Title"] = "Index";
    var currentUser = User.Identity?.Name;
}
<h1>Affichage de tous les DVDs</h1>

<p>
    <a asp-action="Create">Ajout DvD</a>
</p>

<!-- Listing des DVDs-->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImagePochette)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TitreFrancais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emprunteur)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.ImagePochette" alt="pochette_film" width="100" height="100" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TitreFrancais)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Emprunteur)
                </td>
                <td>
                    @if (item.Emprunteur == currentUser)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    else
                    {
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
